<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My To-Do List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

   <link rel="stylesheet" th:href="@{/list-stylesheet.css}">
</head>
<body>
<div class="container">
    <h1>My To-Do List</h1>
    <ul id="task-list" th:each="tempTodo:${Todo}">
        <!-- Example tasks -->
        <li>
            <span class="task" th:text="${tempTodo.task}"></span>
            <span ><a th:href="@{/delete(todoId=${tempTodo.id})}" class="delete-btn">Delete</a></span>
        </li>
    </ul>
    <a th:href="@{/add}" class="btn btn-primary">Add New Task</a>
    </div>


</body>
</html>


